$color-main: #902C3D;
$color-accent: #D2AE5B;
$color-ambiance: #2D1E33;

$color-grey-1: #F4F4F4;
$color-grey-2: #DFDFDF;
$color-grey-3: #CACACA;
$color-grey-4: #B5B5B5;
$color-grey-5: #A0A0A0;
$color-grey-6: #737373;
$color-grey-7: #737373;
$color-grey-8: #404040;
$color-grey-9: #272727;
$color-grey-10: #0D0D0D;