$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 4rem;
$spacing-xlarge: 8rem;

$spacing-kerning: normal;
$spacing-letter-spacing-text: 0.05rem;
$spacing-display-line-height: 1.25;
$spacing-text-line-height: 1.4;
$spacing-padding: 2rem;
$spacing-margin: 2rem;