@font-face {
  font-family: "Epilogue";
  font-style: normal;
  src: url("./../assets/font/Epilogue/Epilogue[wght].ttf"),
       url("./../assets/font/Epilogue/Epilogue[wght].woff2");
}

@font-face {
  font-family: "Epilogue";
  font-style: italic;
  src: url("./../assets/font/Epilogue/Epilogue-Italic[wght].ttf"),
       url("./../assets/font/Epilogue/Epilogue-Italic[wght].woff2");
}

h1 {
  font-size: ms(7);
  line-height: $spacing-display-line-height;
  @media screen and (max-width: 1024px) {
    font-size: ms(6);
  }
  @media screen and (max-width: 640px) {
    font-size: ms(5);
  }
}

h2 {
  font-size: ms(6);
  line-height: $spacing-display-line-height;
  @media screen and (max-width: 1024px) {
    font-size: ms(5);
  }
  @media screen and (max-width: 640px) {
    font-size: ms(4);
  }
}

// h3 {
//   font-size: ms(5);
// }

// h4 {
//   font-size: ms(4);
// }


// ----- text sizing ----- //>
.jumbo {
  font-size: ms(8);
  line-height: $spacing-display-line-height;
  @media screen and (max-width: 1024px) {
    font-size: ms(7);
  }
  @media screen and (max-width: 640px) {
    font-size: ms(6);
  }
}

.large {
  font-size: ms(3);
  line-height: $spacing-display-line-height;
  @media screen and (max-width: 1024px) {
    font-size: ms(2);
  }
  @media screen and (max-width: 640px) {
    font-size: ms(1);
  }
}

.paragraph {
  font-size: ms(2);
  @media screen and (max-width: 1024px) {
    font-size: ms(1);
  }
  @media screen and (max-width: 640px) {
    font-size: ms(0);
  }
}


.ui {
  font-weight: 450;
  font-size: ms(2);
  @media screen and (max-width: 1024px) {
    font-size: ms(1);
  }
  @media screen and (max-width: 640px) {
    font-size: ms(1);
  }
}
